# Variables d'environnement
.env
.env.local
.env.*.local

# Dépendances Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Docker
.docker/


